.tabs {

  &__nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: max-content;
    margin: 0 auto;
    border-bottom: 1px solid $accent;
    overflow-x: auto;
    max-width: 100%;

    div {
      padding: 0 15px 15px;
      border-bottom: 6px solid transparent;
      font-weight: 600;
      white-space: nowrap;
      font-size: 14px;
      line-height: 18px;
      color: #878787;
      cursor: pointer;
      transition: border-color .3s ease, color .3s ease;

      @include media-md {
        padding: 0 20px 20px;
        font-size: 16px;
        line-height: 20px;
      }

      @include media-lg {
        margin-right: 30px;
        padding: 0 42px 22px;
        font-size: 18px;
        line-height: 22px;
      }

      &.active {
        color: $text;
        border-bottom-color: $accent;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &_popup {

    .tabs__nav {
      width: 100%;
      border-bottom: 0;
      justify-content: space-between;
      flex-wrap: wrap;

      .tab-link {
        width: 100%;
        padding: 15px 10px;
        margin-right: 0;
        text-align: center;
        border: 3px solid $accent;
        color: $accent;
        background-color: #fff;
        transition: background-color .3s ease, color .3s ease;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include media-md {
          margin-bottom: 0;
          padding: 22px 15px;
          width: calc(50% - 10px);
        }

        &.active {
          color: #fff;
          background-color: $accent;
        }
      }
    }
  }
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}