.s-new-products {
  padding: 30px 0;

  @include media-md {
    padding: 45px 0;
  }

  @include media-lg {
    padding: 95px 0;
  }
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  position: relative;
  flex: 0 0 100%;
  margin-top: 30px;
  overflow: hidden;

  &:first-of-type {
    margin-top: 0;
  }

  @include media-sm {
    flex: 0 0 calc(50% - 15px);

    &:first-of-type {
      margin-top: 30px;
    }
  }

  @include media-md {
    flex: 0 0 calc(33.3333% - 15px);
  }

  @include media-lg {
    flex: 0 0 calc(25% - 15px);
  }

  @include media-xl {
    margin-top: 96px;

    &:first-of-type {
      margin-top: 96px;
    }
  }

  &__badge {
    display: block;
    position: absolute;
    width: 80px;
    height: 68px;
    left: -35px;
    top: -30px;
    padding-top: 49px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $accent;
    color: #fff;
    transform: rotate(-45deg);
    text-align: center;
  }

  &__image {
    max-height: 300px;
    overflow: hidden;

    @include media-sm {
      max-height: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rate {
    display: flex;
    margin: 13px 0 15px;

    span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("#{$sprite}star-full");

      @include media-md {
        width: 26px;
        height: 26px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    @for $i from 1 through 5 {

      &_#{$i} {

        span:nth-of-type(#{$i}) ~ span {
          background-image: url("#{$sprite}star-empty");
        }
      }
    }
  }

  &__sizes {

    span {
      display: inline-block;
      margin: 0 0 0 3px;
      font-size: 18px;
      line-height: 21px;
      color: #CECECE;
      cursor: pointer;

      @include media-md {
        font-size: 20px;
        line-height: 24px;
      }

      @include media-lg {
        font-size: 22px;
        line-height: 27px;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &.active {
        color: $accent;
      }
    }
  }

  &__desc {
    font-size: 14px;
    letter-spacing: 0;

    a {
      color: $accent;
      text-decoration: none;
      transition: opacity .3s ease;

      &:hover {
        opacity: .7;
      }
    }

    @include media-md {
      font-size: 16px;
    }
  }

  &__price {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 600;

    @include media-md {
      margin-top: 15px;
      font-size: 20px;
      line-height: 24px;
    }

    @include media-lg {
      font-size: 24px;
      line-height: 26px;
      margin-top: 25px;
    }

    @include media-xl {
      font-size: 30px;
      line-height: 37px;
    }
  }

}

.button-wrap {
  margin-top: 30px;
  text-align: center;

  @include media-md {
    margin-top: 90px;
  }

  &_trends {
    margin-top: 30px;

    @include media-lg {
      margin-top: 60px;
    }
  }
}